---
layout: default
title: Home
---

<section class="about">
    <h1 class="about__title">
        Hello, World!
    </h1>
    <p>
        My name is Tyler, I'm a computer science student at Southern
        New Hampshire University finishing up the final touches on my
        degree. I've also had the amazing oppotunity to work in the field
        during my tenure in school with two amazing companies who have 
        helped shape me professionally. Throughout my coursework I have
        expanded my knowledge in database design and architecture with
        courses that focus on data mining and realtional databases. 
        Algorithms used to analyze large subsets of data and front-end
        presentations such as graphical user interfaces and web applications.
    </p>
    </br>
    <p>
        My ultimate goal is to become a full-stack web developer in the 
        wake of finishing my degree. 
    </p>
    <br>
    <p>
        This blog is a small collection of some of the work I have had
        the opporunity to work on throughout my coursework. In each of
        these posts I will discuss some of the projects I've worked on
        and analyze some of them for possible improvements and alterations.
    </p>
</section>

<div class="posts">
    {% for post in site.posts %}
      <div class="post">
          <h1 class="post__title">
              <a href="{{ post.url }}">
                  {{ post.title }}
              </a>
          </h1>

          <span class="post__date">{{ post.date | date_to_string }}</span>

          <article class="post-content">
            {% assign preview = post.content | split: " " %}
            {% for character in (0..64) %}
                {{ preview[character] }}
            {% endfor %}...
          </article>
      </div>
    {% endfor %}
</div>